/* BACKGROUNDS COLORS */
$primary_color:                          #3F51B5;
$secondary_color:                        #448AFF;
$dark_color:                             #303F9F;

/* TEXT COLORS */
$primary_text:                           #212121;
$secondary_text:                         #727272;
$text_icons:                             #FFFFFF;

/* FONTS */
$roboto_font_path:                       '../fonts/roboto/';